/** Import package wide styles here. **/
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
@import url(http://fonts.googleapis.com/css?family=Wallpoet);
.gmTimer {
  font-family: 'Wallpoet', cursive;
  font-size: 5em;
  line-height: 1em; }
  .gmTimer span {
    display: inline-block;
    background-color: #666;
    color: #fff;
    border: 1px solid #333;
    margin: 0.1em 0.05em;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: first-value-of(10px) first-value-of(10px);
    -moz-border-radius: 10px / 10px;
    border-radius: 10px / 10px; }

/** Import package wide styles here. **/
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
.gmPlayerLoader {
  display: block;
  position: relative;
  padding: 10px;
  height: 84px;
  margin: 0 0 20px 0; }
  .gmPlayerLoader-Icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px; }
  .gmPlayerLoader-Container {
    padding-left: 74px;
    padding-right: 74px; }
  .gmPlayerLoader-Ready {
    position: absolute;
    top: 10px;
    right: 0; }
    .gmPlayerLoader-Ready .fa {
      width: 64px;
      height: 64px;
      font-size: 64px; }
  .gmPlayerLoader .progress {
    margin-top: 10px;
    height: 44px; }

/** Import package wide styles here. **/
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
body {
  padding-top: 60px; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

.container {
  max-width: 600px; }

/*# sourceMappingURL=styles.css.map */
