@import "../../Config";

gm-game {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  $phoneWidth: 768px;
  $width: 350px;

  .gmGame-Players, .gmGame-Board {
    margin: 0;
    padding: 0;
  }

  .gmGame-Notice {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;

    background-color: rgba(0,0,0,0.1);
  }

  @media (min-width: $phoneWidth + 1px) {
    .gmGame-Players {
      display: block;
      position: absolute;
      top: $navHeight + $spacer;
      left: $spacer;
      bottom: $spacer;
      width: $width;

      @include box-sizing(border-box);
    }

    .gmGame-Board {
      display: block;
      position: absolute;
      top: $navHeight + $spacer;
      left: $width + $spacer * 2;
      right: $spacer;
      bottom: $spacer;

      @include box-sizing(border-box);
    }
  }

  @media (max-width: $phoneWidth) {
    .gmGame-Players {
      display: none;
    }
    .gmGame-Board {
      display: block;
      position: absolute;
      top: $navHeight;
      left: 0;
      right: 0;
      bottom: 0;

      @include box-sizing(border-box);
    }
  }
}

