<div class="gmGame">

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{players.length}} Players</h3></div>
        <div class="panel-body">
            <div class="gmGame-Loading" ng-show="state != ''">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>

            <div class="gmGame-Players">
                <gm-player ng-repeat="player in players track by $index" image="{{player.user.image}}" value="43"></gm-player>
            </div>

            <div class="gmGame-Timer">
                <gm-timer value="120" expired=""></gm-timer>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Match Cards!</h3></div>
        <div class="panel-body">

            <div class="gmGame-Board" ng-style="{height:(6 * card_height)+'px'}">
                <div class="gmGame-Card" ng-repeat="card in cards track by card.id"
                     ng-style="{top:(card.row * card_height)+'px',left:(card.col * card_width)+'px',width:card_width+'px',height:card_height+'px'}">
                    <div class="gmGame-Card-Cover"></div>
                </div>
            </div>

        </div>
    </div>

</div>