@import "../gmConfig/Config";

.gmPlayerLoader {
  $size: 64px;

  display: block;
  position: relative;
  //border: 1px solid $border;
  padding: $margin;
  height: $size + $margin * 2;
  margin: 0 0 $spacer 0;

  &-Icon {
    position: absolute;
    top: $margin;
    left: $margin;
    font-size: $size / 2;
  }

  &-Container {
    padding-left: $size + $margin;
    padding-right: $size + $margin;
  }

  &-Ready {
    position: absolute;
    top: $margin;
    right: 0;
    .fa {
      width: $size;
      height: $size;
      font-size: $size;
    }
  }

  .progress {
    margin-top: $margin;
    height: $size - $margin * 2;
  }
}




