@import "../../Config";

gm-card {
  display: block;
  position: absolute;
  margin: 5px;
  cursor: default;

  @include user-select(none);
  @include flippy(0.3s, 350px);

  &.flip {
    z-index: 1;
  }

  .score {
    text-align: center;
    vertical-align: middle;
    color: $score;

    @include transition((all 1.0s ease-in-out));
    &.found {
      @include transform(scale(1.2));
      opacity: 0;
    }
  }

  .front {
    border: 2px solid $border;
    background-color: #aaa;
    cursor: pointer;
    @include border-radius(10px);

    &.found {
      @include transform(scale(1.2));
      opacity: 0;
    }
  }

  .back {
    border: 4px solid #333;
    background-color: $card_bg;
    color: $card_color;
    text-align: center;
    vertical-align: middle;
    @include border-radius(10px);

    &.found {
      @include transform(scale(1.2));
      opacity: 0;
    }
  }

}


