<div class="gmPlayerLoader">


    <div class="gmPlayerLoader-Icon">
        <gm-player image="{{image}}" value="43"></gm-player>
    </div>

    <div class="gmPlayerLoader-Container">
        <div ng-if="state === ''">
            <h1>{{name}}</h1>
        </div>
        <div ng-if="state !== ''" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 60%"></div>
        </div>
    </div>

    <div class="gmPlayerLoader-Ready">
        <span class="fa fa-square-o"></span>
    </div>
</div>